<DOCTYPE html>

<html lang="es">
    <head>
        <meta charst="utf-8"/>
        <title>{% block title%}
            <!-- Titulo de cada página-->
            {%endblock%}
        </title>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}"/>
    </head>

    <body class="box">

        <!-- Cabecera de la página-->
        <header>
            <div id="logotipo">
                <img src="{%static  'images/logo.png' %}" />
                <h1>Projecto con Django</h1>
            </div>
        </header>

        <nav>
            <ul>
                <li>
                    <a href="{% url 'inicio' %}">Inicio</a>
                </li>

                <li>
                    <a href="{% url 'list_articles' %}">Categorías</a>
                    <ul>
                        {% for cat in categories %}
                            <li>
                                <a href="{% url 'category' cat.0 %}">{{cat.1}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>

                {% for page in pages %}
                    <li>
                        <a href = "{% url 'page' page.2 %}">{{page.1}}</a>
                    </li>
                {% endfor %}

            </ul>
            
        </nav>


        <div id="content">
            {% block content %}
                <strong>Contenido del bloque principal</strong>
            {% endblock %}
        </div>


        <footer>
            Máster en Python &copy; Javier Mayorgas - {% now "Y" %}
        </footer>
    </body>


</html>